
.footer{
    background: #90d4c5;
    color: var(--Dark-moderate-cyan);
    a{
        text-decoration: none;
        color: #509485;
    }
    ul{
        li{
            a{
                font-family: 'Fraunces';
                font-weight: 700;
            }
        }
    }
    a:hover{
        color: white;
    }
    h3{
        color: #2d7564;
        font-size: 2rem;
        font-weight: 900;
    }
    a{
        img:hover{
           background-color: white;
        }
    }
}
    

