@import 'footer';
@import 'header';

:root{
    --red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-designed: hsl(167, 40%, 24%);
    --Dark-blue: hsl(198, 62%, 26%);
    --Dark-moderate-cyan: hsl(168, 34%, 41%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);

    $font-barlow: 'Barlow', sans-serif;
    $font-fraunces: 'Fraunces', sans-serif;

    $weight-600: 600;
    $weight-700: 700;
    $weight-900: 900;

}


///

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    max-width: 1440px;
    min-width: 375px;
}
.small-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: auto;
}
.client{
    p{
        font-family: 'Barlow';
        font-weight: 600;
        color: var(--Very-dark-grayish-blue);
    }
    .third-client{
        margin: auto;
    }
    .card{
        border: none;
        .card-text{
            width: 70%;
            margin: auto;
        }
    }
    h4{
        color: #aaaaaa;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    h5{
        font-weight: bold;
        font-family: 'Fraunces';
        font-weight: 700;
    }
}
.four-pic{
    overflow: hidden;
    .cols{
        padding: 0;
        img{
            width: 100%;
        }
        
    }
}
.first-element{
    .container{
        width: 80%;
    }
    h2{
        font-family: 'Fraunces';
        font-weight: 900;
    }
    p{
        font-family: 'Barlow';
        font-weight: 600;
        color: var(--Very-dark-grayish-blue);
    }
    .btn{
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: #fdf5b5;
        text-decoration-thickness: 5px;
    }
    .btn:hover{
        text-decoration-color: var(--Yellow);
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}
.second-element{
    .container{
        width: 80%;
    }
    h2{
        font-family: 'Fraunces';
        font-weight: 900;
    }
    p{
        font-family: 'Barlow';
        font-weight: 600;
        color: var(--Very-dark-grayish-blue);
    }
    .btn{
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color:#f0a296;
        text-decoration-thickness: 5px;
    }
    .btn:hover{
        text-decoration-color: var(--red);
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.third-elements{
    .bg-cherry, .bg-orange{
        height: 500px;
        h2{
            font-family: 'Fraunces';
            font-weight: 900;
        }
        p{
            font-family: 'Fraunces';
            font-weight: 700;
        }

    }
    .bg-cherry{
        background-image: url('/imgs/image-graphic-design1.jpg');
        background-size: auto;
        background-position: center;
        object-fit: cover;
        .cherry-text{
            color: var(--Dark-designed);
        }
    }
    .bg-orange{
        background-image: url('/imgs/image-photography1.jpg');
        background-size: auto;
        background-position: center;
        object-fit: cover;
        .orange-text{
            color: var(--Dark-blue);
        }
    }
}


@media (max-width:767px){
    .reserved{
        display: flex;
        flex-direction: column-reverse;
    }
    .client{
        .card-text{
            width: 70%;
            margin: auto;
        }
        
    }
}

@media (max-width: 575px){
    .four-pic{
            .left{
                width: 50%;
                float: left;
                padding: 0;
            }
            .right{
                width: 50%;
                float: right;
                padding: 0;
            }
        
        
    }
    .first-element,.second-element{
        h2,p{
            text-align: center;
        }
        .btn{
            display: flex;
            justify-content: center;
            margin-bottom: 3rem;
        }
    }
    .third-client{
        margin: auto;
    }
    .second-client, .third-client{
        .card{
            margin-top: 20px;
        }
    }
    .reserved{
        display: flex;
        flex-direction: column-reverse;
    }
    .navbar-nav{
        border: 1px solid white;
        background-color: white;
        width: 95%;
        margin: auto;
        margin-top: 40px;
        position: relative;
        a{
            margin: auto;
            color: #8c8b90;
        }
        a.contact{
            border: 1px solid #fbd600;
            padding: 10px 20px 10px 20px;
            background-color: #fbd600;
            margin-bottom: 15px;
            color: #37380b;
        }
        a.first-a{
            margin-top: 10px;
        }
        .small-triangle{
            
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 30px 30px 0 0;
            border-color: transparent white transparent transparent;  
            right: -1px;
            top: -30px;
        }
    }
}