@import 'footer';
@import 'header';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:ital,wght@0,100;0,200;0,400;1,100;1,200&family=Roboto:ital,wght@1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:ital,wght@0,100;0,200;0,400;1,100;1,200&family=Roboto:ital,wght@1,500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 18px;
}
.small-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: auto;
}
.client{
    .card{
        border: none;
    }
    h4{
        color: #aaaaaa;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    h5{
        font-weight: bold;
    }
    p{
        color: #6d6d72;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Raleway', sans-serif;
        font-family: 'Roboto', sans-serif;
    }
}
.four-pic{
    .cols{
        padding: 0;
    }
}
.first-element{
    .btn{
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: #fdf5b5;
        text-decoration-thickness: 5px;
    }
    .btn:hover{
        text-decoration-color: #eed22c;
    }
    p{
        font-family: 'Open Sans', sans-serif;
        font-family: 'Raleway', sans-serif;
        font-family: 'Roboto', sans-serif;
    }

}
.second-element{
    .btn{
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: #fad6cf;
        text-decoration-thickness: 5px;
    }
    .btn:hover{
        text-decoration-color: #f9725e;
    }
    p{
        font-family: 'Open Sans', sans-serif;
        font-family: 'Raleway', sans-serif;
        font-family: 'Roboto', sans-serif;
    }
}
.bg-cherry, .bg-orange{
    height: 550px;
    position: relative;
    img{
        height: 100%;
        width: 100%;
    }
    .bg-cherry-text, .bg-orange-text{
        position: absolute;
        bottom: 0;
    }
}
.bg-cherry{
    color: #255b4f;
    p{
        font-family: 'Open Sans', sans-serif;
        font-family: 'Raleway', sans-serif;
        font-family: 'Roboto', sans-serif;
    }
}
.bg-orange{
    color: #17546f;
    p{
        font-family: 'Open Sans', sans-serif;
        font-family: 'Raleway', sans-serif;
        font-family: 'Roboto', sans-serif;
    }
}

@media (max-width:767px){
    .reserved{
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (max-width: 575px){
    .four-pic{
            .left{
                width: 50%;
                float: left;
                padding: 0;
            }
            .right{
                width: 50%;
                float: right;
                padding: 0;
            }
        
        
    }
    .first-element,.second-element{
        h2,p{
            text-align: center;
        }
        .btn{
            display: flex;
            justify-content: center;
            margin-bottom: 3rem;
        }
    }
    .second-client, .third-client{
        .card{
            margin-top: 20px;
        }
    }
    .reserved{
        display: flex;
        flex-direction: column-reverse;
    }
    .navbar-nav{
        border: 1px solid white;
        background-color: white;
        width: 95%;
        margin: auto;
        margin-top: 40px;
        position: relative;
        a{
            margin: auto;
            color: #8c8b90;
        }
        a.contact{
            border: 1px solid #fbd600;
            padding: 10px 20px 10px 20px;
            background-color: #fbd600;
            margin-bottom: 15px;
            color: #37380b;
        }
        a.first-a{
            margin-top: 10px;
        }
        .small-triangle{
            
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 30px 30px 0 0;
            border-color: transparent white transparent transparent;  
            right: -1px;
            top: -30px;
        }
    }
}